<% provide(:title, 'Activities') %>

<div class="center hero-unit">
	<center>
		<h1 style="font-size: 4em">Activities</h1>
		<hr>
		<p>
			<%= link_to image_tag("https://s3.amazonaws.com/missyandmatt/photos/activities.jpg", width: "90%"), '#' %>
		</p>
		<hr>


		<p style="text-align: center; color: purple; font-size: 1.5em">Santa Barbara County’s diverse terrain and beautiful weather allows for a multitude of activities. If you’re hanging around before or after the wedding, here are a few suggestions of things to explore in the area.</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>• <a href="http://www.santabarbaraca.com/things-to-do/beaches-parks/" target="_blank">GO THE BEACH</a>. For waves and surfers, we recommend Rincon Point and Carpinteria State Beach. For tide pooling we recommend Ledbetter Beach, Arroyo Burro Beach &amp; Rincon Point. All of the above our perfect for walking and strolling, and we like to also suggest Butterfly Beach and Loon Point.</p>
<p>• <a href="http://www.urbanwinetrailsb.com/index.php/santa-barbara-urban-wine-trail/" target="_blank">GO WINE TASTING</a>. We like the <a href="http://www.santabarbaraca.com/things-to-do/funk-zone/" target="_blank">Funk Zone</a> where local <a href="http://www.santabarbaraview.com/santa-barbaras-urban-wine-trail-bringing-life-to-the-funk-zone65363/" target="_blank">wine tasting rooms</a> sidle up to artists’ galleries and graffitied wall murals.</p>
<p>• <span style="color: #339966;">EAT TACOS</span>. Mexican food and Santa Barbara go hand in hand, especially fish tacos. If you are looking for some yummy beachside fish tacos, go to <a href="http://www.padarobeachgrill.com/" target="_blank">Padaro Beach Grill</a>. It’s right next to the beach and the food is fresh and yummy.</p>
<p>• <a href="http://www.sbsail.com/" target="_blank">RENT STAND UP PADDLEBOARDS OR KAYAKS</a>. You will likely and see sea lions and dolphins and get sun tan.</p>
<p>• <span style="color: #339966;">EXPLORE GARDENS</span>. Enjoy lush plants and unique flowers at either <a href="http://www.lotusland.org/" target="_blank">Lotus Land</a> or Santa Barbara’s <a href="http://www.santabarbaraca.com/listings/Santa-Barbara-Botanic-Garden/166/25/" target="_blank">Botanical Gardens</a>.</p>
<p>• <a href="http://www.wheelfunrentalssb.com/" target="_blank">RENT BIKES</a>. Santa Barbara is teeming with <a href="http://www.bike-santabarbara.org/rides/DIY/DIY.html" target="_blank">bike paths</a> is great way to explore and travel between beaches.</p>
<p>• <span style="color: #339966;">ENJOY THE VIEW</span>. Climb the steps of the 85-foot tower of the <a href="http://www.santabarbaracourthouse.org/sbch/" target="_blank">75-year old Santa Barbara County Courthouse</a> for a spectacular panoramic view of the city, ocean, and Channel Islands.</p>
<p>• <span style="text-decoration: underline;"><span style="color: #339966;"><a href="http://www.santabarbarahikes.com/" target="_blank"><span style="color: #339966; text-decoration: underline;">GO FOR A HIKE</span></a></span></span>. Santa Barbara has amazing hikes and trails, to waterfalls, stunning vistas and swimming holes. We like <a href="http://www.santabarbarahikes.com/hikes/frontcountry/3pools.shtml" target="_blank">7 Falls</a> and <a href="http://www.santabarbarahikes.com/hikes/frontcountry/westfork.shtml" target="_blank">Tangerine Falls</a>.</p>
<p>• <span style="color: #339966;">WANDER THE WHARF</span>. An important part of Santa Barbara&#8217;s character &amp; history is <a href="http://www.stearnswharf.org/" target="_blank">Stearns Wharf</a> located at the bottom of State St. The historic three dolphin fountain marks its entrance.</p>
<p>• <span style="color: #339966;">VISIT THE MISSION</span>. See where all of the Santa Barbara History began by visiting the Santa Barbara Mission. This is one of the most beautiful in the state &amp; offers real historic insight.</p>
<p>• <span style="color: #339966;">SHOP THE FARMER’S MARKET</span>. Sample Local fruits, vegetables, fresh cut flowers, and music at the Farmers’ Market Saturday morning in Downtown Santa Barbara.</p>
<p>• <span style="color: #339966;">GET ARTSY</span>. See original handmade artwork by more than 250 local artisans at the Santa Barbara Arts and Crafts Show along Cabrillo Blvd on Sundays at 10am.</p>
<p>• <span style="color: #339966;">WINE AND DINE</span>. Peruse State Street for great shopping, dining &amp; drinking.</p>
<p>&nbsp;</p>
	</center>
</div>