<% provide(:title, 'Wedding Details') %>

<div class="center hero-unit">
	<center>
		<h1 style="font-size: 4em">Wedding Details</h1>
		<hr>
		<p>
			<%= image_tag("https://s3.amazonaws.com/missyandmatt/photos/details.jpg", width: "90%") %>
		</p>
		<hr>

		<h1>July 26, 2014</h1>

		<h1>Dos Pueblos Ranch <small style="color:black">•</small> Santa Barbara</h1>
		<hr>

		<h1>the venue</h1>
		<p>Dos Pueblos Ranch was home to one of the largest groups of Native Americans in California, the Canalinos. Juan Cabrillo set his anchor directly off the coast of the ranch&#8217;s beach in 1542, saw the two settlements of Native Americans on either side of the river canyon and called it Los Dos Pueblos &#8212; The Two Villages. The name has stuck ever since.</p>
		<p></p>
		<p>Over the years, Dos Pueblos has been a cattle ranch, a horse ranch, an orchid farm, a honey farm and is currently an avocado and cheremoya farm. The land is historical and the beaches are preserved. We are honored to get married at such an amazing place and share it with all of you.</p>
		<p><strong style="color:purple"> *A note for the ladies...the ground is dirt and grass, so we recommend wearing wedges, sandals or a thicker heel.</strong></p>

		<h1>shuttle service</h1>
		<p>Please check back this Spring for the shuttle schedule. <strong>Make sure you are on time for your shuttle pickup so you don't miss the party!</strong></p>

		<h1>rehearsal cocktail party</h1>
		<p>There will be a rehearsal cocktail party on <strong>Friday, July 25th from 6:30 - 9:00pm</strong> at the Bacara on the <%= link_to "Ocean Terrace", "http://www.bacararesort.com/best-santa-barbara-dining/hotel-bar-lounge/", target: "_blank" %></p>

		<h1>the brunch</h1>
		<p>There will be a post wedding brunch on <strong>Sunday, July 27th from 9:30 - 11:30am</strong> at the Bacara on the <%= link_to "Miró Terrace", "http://www.bacararesort.com/best-santa-barbara-dining/waterfront-restaurants/", target: "_blank" %></p>

		<h1>airport info</h1>
		<p>The closest major airport is LAX, in Los Angeles. Depending on traffic, the drive may be as little as 1 hr. 15 minutes, or as long as 2 hr. 30 minutes. Driving between 10am and 2pm is the best time to drive from LAX to Santa Barbara. The other option would be to fly into Santa Barbara Airport (SBA). However it is fairly limited and tends to be expensive, but still worth considering.</p>


	</center>
</div>