<% provide(:title, 'Wedding Details') %>

<div class="center hero-unit">
	<center>
		<h1 style="font-size: 4em">Wedding Details</h1>
		<hr>
		<p>
			<%= image_tag("https://s3.amazonaws.com/missyandmatt/photos/details.jpg", width: "90%") %>
		</p>
		<hr>

		<h1>the venue</h1>
<p>Dos Pueblos Ranch was home to one of the larger groups of Native Americans in California, the Canalinos. Juan Cabrillo set his anchor directly off the coast of the ranch&#8217;s beach in 1542, saw the two settlements of Native Americans on either side of the river canyon and called it Los Dos Pueblos &#8212; The Two Villages. The name has stuck ever since.</p>
<p></p>
<p>Over the years, Dos Pueblos has been a cattle ranch, a horse ranch, an orchid farm, a honey farm and is currently an avocado and cheremoya farm. The land is historical and the beaches are preserved. We are honored to get married at such an amazing place and share it with all of you.</p>
<p> *A note for the ladies&#8230;the ground is dirt and grass, so we recommend wearing wedges, sandals or a thicker heel.</p>
<h1>shuttle service</h1>
<p>The venue requires shuttles for guests, so we have made arrangements for buses to pick everyone up. Please refer to the schedule below. If you are not staying at one of the listed hotels, please give yourself enough time to get to one of the pickup locations and park. <strong>Make sure you are on time for your shuttle pickup so you don&#8217;t miss the party! </strong></p>
<p><strong>Lower Santa Barbara </strong><br />
2:45 PM &#8211; <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/santa-barbara/sbadt/hoteldetail" target="_blank">Holiday Inn Express</a><br />
3:00 PM &#8211; <a href="http://santabarbara.hyatt.com/en/hotel/home.html" target="_blank">Hyatt</a> (right next to beachside <a href="http://www.motel6.com/reservations/motel_detail.aspx?num=1" target="_blank">Motel 6</a>)</p>
<p><strong>Upper Santa Barbara/Goleta </strong><br />
2:45 PM &#8211; <a href="http://agaveinnsb.com/" target="_blank">Agave Inn</a><br />
3:00 PM &#8211; <a href="http://www.bestwesternpeppertreeinn.com/" target="_blank">Best Western Pepper Tree</a><br />
3:15 PM &#8211; <a href="http://hamptoninn3.hilton.com/en/hotels/california/hampton-inn-santa-barbara-goleta-SBAGOHX/index.html" target="_blank">Hampton Inn Goleta</a><br />
</p>
<h1>the brunch</h1>
<p>The post wedding brunch will be held <strong>Sunday, July 21<sup>st</sup> at 10:30am</strong> at Lara&#8217;s mom&#8217;s house located at <b>500 Toro Canyon Rd, Santa Barbara, CA 93108 </b>(<a href="https://maps.google.com/maps?hl=en&#038;q=500+Toro+Canyon+Road,+Santa+Barbara,+CA&#038;ie=UTF-8&#038;hq=&#038;hnear=0x80e90dc516c4642d:0x6d16a14054a0cc8,500+Toro+Canyon+Rd,+Santa+Barbara,+CA+93108&#038;gl=us&#038;ei=BBzZUcGoCIna8wSfw4GoDA&#038;ved=0CC8Q8gEwAA" target="_blank">map</a>). </p>
	</center>
</div>