<!--
<% provide(:title, 'Directions') %>

<div class="center hero-unit">
	<center>
		<h1 style="font-size: 4em"><%= yield(:title) %></h1>
		<hr>
		<p>
			<%= link_to image_tag("https://s3.amazonaws.com/missyandmatt/photos/directions.jpg", width: "90%"), '#' %>
		</p>
		<hr>

		<div class="row">
			<div class="span4 offset1">
				<h1>from the South</h1>
				<p>Take the 101 North through Goleta and take the Dos Pueblos Canyon exit. This exit turns into a bumpy road, just stay on the road as it makes a sharp left turn going under the freeway headed towards the ocean. You will come to a stop sign at which point follow the signs to your event.</p>
			</div>

			<div class="span4 offset1">
				<h1>from the North</h1>
				<p>Take the 101 South along the coast past El Capitan Canyon and take the Dos Pueblos Canyon exit.  This drops you immediately on a frontage road, turn right.  Follow this road north as it goes down a gentle hill.  You will come to a cross street named South Dos Pueblos Canyon road.  At this intersection follow the signs to your event.</p>
			</div>
		</div>
		<hr>
		<iframe width="90%" height="650" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rancho+Dos+Pueblos,+Dos+Pueblos+Ranch,+Goleta,+CA+93117&amp;aq=&amp;sll=34.447556,-119.964974&amp;sspn=0.003574,0.00795&amp;ie=UTF8&amp;hq=Rancho+Dos+Pueblos,+Dos+Pueblos+Ranch,&amp;hnear=Goleta,+Santa+Barbara+County,+California&amp;ll=34.447662,-119.965478&amp;spn=0.228782,0.508804&amp;t=m&amp;z=12&amp;iwloc=A&amp;cid=16439636117254779872&amp;output=embed"></iframe>
	</center>
</div>
-->