<% provide(:title, 'Hotels') %>

<div class="center hero-unit">
	<center>
		<h1 style="font-size: 4em"><%= yield(:title) %></h1>
		<hr>
		<p>
			<%= link_to image_tag("https://s3.amazonaws.com/missyandmatt/photos/thumbs/kat_W140726-0174.jpg", width: "90%"), photos_path %>
		</p>
		<hr>
	</center>
</div>