<% provide(:title, 'Registry') %>

<div class="center hero-unit">
	<center>
		<h1 style="font-size: 4em"><%= yield(:title)%></h1>
		<hr>
		<p>
			<%= link_to image_tag("https://s3.amazonaws.com/missyandmatt/photos/registry.jpg", width: "90%"), '#' %>
		</p>
		<hr>
		<h1><%= link_to "Bloomingdale's", "http://www.bloomingdales.com/registry/wedding/guest/?registryId=6073159", target: "_blank" %></h1>


		<h1><%= link_to "Bed Bath & Beyond", "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=11033305&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos", target: "_blank" %></h1>

	</center>
</div>