@import url(http://fonts.googleapis.com/css?family=Metrophobic);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Paytone+One);
@import url(http://fonts.googleapis.com/css?family=Joti+One);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Italianno);
@import url(http://fonts.googleapis.com/css?family=Overlock);
@import url(http://fonts.googleapis.com/css?family=Buenard);
$baseFontFamily: Nobile;
$headingsFontFamily: Italianno;

/* navbars --> also wells & hero units */
$navbarBackground: white;
$navbarBackgroundHighlight: $navbarBackground;
$dropdownBackground: $navbarBackground;

$bodyBackground: white;

$textColor: black;
$navbarLinkColor: $textColor;

$navbarLinkColorHover: #443266;
$dropdownLinkBackgroundHover: $navbarLinkColorHover;

$navbarBrandColor: black;

@import 'bootstrap';

body{
    padding-top: 0px;
}

@import 'bootstrap-responsive';
 

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

span {
  color: purple;
}

p {
  font-family: Buenard;
  font-size: 1.3em;
}

.well{
    background-color: $navbarBackground;
}

.hero-unit{
    background-color: $navbarBackground;
}

.brand {
  font-family: $headingsFontFamily;
}

.alert {
  background-color: $navbarBackground;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

a {
    color: #339966;
      text-decoration: underline;
      &:hover {
         text-decoration: none;
       }
     }

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 2px solid #ccc;
    margin: 1em 0; 
    padding: 0; 
    width: 90%;
  }


  .box { 
  padding:20px; 
  margin-bottom:20px; 
  background:#EDEDED; 
  color:#333; 
}

.yellow { 
  background:#FEFFD8; 
  color:#514721; 
  border-color:#FEDE91; 
}

.red { 
  background:#FBE3E4; 
  color:#8a1f11; 
  border-color:#FBC2C4; 
}

.green { 
  background:#dfece9; 
  color:#1B3F36; 
  border-color:#B5DFD5; 
}

.box a { 
  color:#222; 
  border-color:#222; 
}

.red a { 
  color:#8a1f11; 
  border-color:#8a1f11; 
}

.yellow a { 
  color:#514721; 
  border-color:#514721; 
}

.green a { 
  color:#264409; 
  border-color:#264409; 
}

.box a:hover,
.red a:hover,
.yellow a:hover,
.green a:hover { 
  color:#000; 
  border-color:#000; 
}